.vscode/**
.vscode-test/**
out/test/**
src/**
scripts/**
docs/**
.gitignore
vsc-extension-quickstart.md
**/tsconfig.json
**/tslint.json
**/*.map
**/*.ts
node_modules/**
package-lock.json
.eslintrc.json
tsconfig.json
.DS_Store